@font-face {
  font-family: "IBM";
  src: url("font/IBM-Plex.eot");
  src: url("font/IBM-Plex.woff") format("woff");
  src: url("font/IBM-Plex.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM", sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 64px 70px;
  grid-template-areas:
    "header header header"
    "daily daily trade"
    "orderList chart trade"
    "orderList orderForm trade"
    "detail detail detail"
    "footer footer footer";
  background-color: #161a1e;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #161a1e;
}

::-webkit-scrollbar-thumb {
  background-color: #5e6673;
  border-radius: 10px;
  border: 2px #161a1e solid;
}
